body{
    background-color: #D4D2CE;
    margin-right: 0px;
}

/* navbar */

.navbar-brand{
    color: black;
    size: 10px;
    font-weight: 550;
    font-size: 25px;
    padding: 10px;
    font-family: 'Nunito',sans-serif;
    letter-spacing: 3px;
}

.navbar-brand.scrolled{
    color: brown;
    transition: color 300ms linear;
}

.navbar-brand:hover{
    color: red;
    transition: color 200ms;
}

.nav-link{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: right;
}

.nav-link{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: right;
}

.nav-link:hover{
    color: rgb(215, 20, 20);
}

.navbar.scrolled {
    background-color: #ffffff !important;
    transition: background-color 300ms linear;
  }

/* end of navbar */

/* home */

.mainHeading {
    font-size: 100px;
    margin-top: 60px;
    font-family: 'Monoton', cursive;
    margin-left: 40px;
}



.sWord{
    color: rgb(215, 20, 20);
    font-size: 120px;
}



.myImage{
    margin-left: 140px;
    height: auto;
}



.description{
    font-size: 25px;
    margin-top: 55px;
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
}

.secondHeading{
    font-size: 100px;
    font-family: 'Monoton', cursive; 
}

/* end of home */

/* about */

.time{
    color: rgb(215, 20, 20);
    font-family: 'Orbitron', sans-serif;

}

.smallbio{
    font-size: 20px;
    margin: 10px;
    margin-top: 2px;
    padding: auto;
}

/* end of about */

/* media */

@media (max-width :1120px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }
}


@media (max-width : 540px){
    .secondHeading{
        font-size: 25px;
    }
    .myImage{
        margin-left: 30px;
    }
    .description{
        margin-top: 80px;
    }
}


@media (max-width :720px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }

}


@media (max-width :960px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }
}

@media (max-width : 1200px){
    .secondHeading{
        font-size: 70px;
        margin-right: 0px;
    }
    .mainHeading{
        font-size: 70px;
    }
    .myImage{
        margin-left: 0px;
    }
}

/* end of media */