
html,body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #D4D2CE;
  }
/* navbar */

.navbar-brand{
    color: black;
    size: 10px;
    font-weight: 550;
    font-size: 25px;
    padding: 10px;
    font-family: 'Nunito',sans-serif;
    letter-spacing: 3px;
}

.navbar-brand.scrolled{
    color: brown;
    transition: color 300ms linear;
}

.navbar-brand:hover{
    color: red;
    transition: color 200ms;
}

.nav-link{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: right;
}

.nav-link{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: right;
}

.nav-link:hover{
    color: rgb(215, 20, 20);
}

.navbar.scrolled {
    background-color: #ffffff !important;
    transition: background-color 300ms linear;
  }

/* end of navbar */

/* home */

.mainHeading {
    font-size: 100px;
    margin-top: 60px;
    font-family: 'Monoton', cursive;
    margin-left: 40px;
}

.sWord{
    color: rgb(215, 20, 20);
    font-size: 120px;
}

.myImage{
    margin-left: 140px;
    height: auto;
}

.description{
    font-size: 25px;
    margin-top: 55px;
    font-family: 'Electrolize', sans-serif;
    font-weight: 600;
}

.secondHeading{
    font-size: 100px;
    font-family: 'Monoton', cursive; 
}

.arrow{

    margin-right: 500px;
    margin-bottom: 20px;

}

/* end of home */

/* about */

#about{
    margin-top: 10rem;
}

.time{
    color: rgb(215, 20, 20);
    font-family: 'Orbitron', sans-serif;

}

.smallbio{
    font-size: 20px;
    padding: 2rem;
    margin-bottom: 20px;
    padding: auto;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
}

.basic-1 h3{
    font-weight: 800;
}

/* end of about */

/* Services */

.basic-2{
    margin-bottom: 8rem;
}

#services{
    margin-top: 8rem;
}

.basic-2 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.basic-2 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
    font-size: 1.25rem;
}

.box {
    border-style:solid;
    border-color:#336699;
    border-width:1px;
    padding: 25px;
  }

/* end of Services */

/* media */

@media (max-width :1120px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }
}


@media (max-width : 540px){
    .secondHeading{
        font-size: 25px;
    }
    .myImage{
        margin-left: 30px;
    }
    .description{
        margin-top: 80px;
    }
}


@media (max-width :720px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }

}


@media (max-width :960px) {
    .secondHeading{
        font-size: 50px;
    }
    .myImage{
        margin-left: 330px;
    }
}

@media (max-width : 1200px){
    .secondHeading{
        font-size: 70px;
        margin-right: 0px;
    }
    .mainHeading{
        font-size: 70px;
    }
    .myImage{
        margin-left: 0px;
    }
}

/* end of media */